.flName {
  display: flex;
}
.firName {
  margin-right: 10px;
}
.lsName {
  color: #333333;
  font-size: 16px;
  height: 50px;
  padding: 12px;
  outline: none;
  border: 0 none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 50%;
}
.firName {
  color: #333333;
  font-size: 16px;
  height: 50px;
  padding: 12px;
  outline: none;
  border: 0 none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 50%;
}
