.header_row {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 120px 20px 30px;
}
.blue_button {
  background-color: #516cf0;
  color: #fff;
  border-radius: 6px;
  padding: 0px 70px;
}
.header_border {
  color: black;
  font-weight: bold;
}
.search {
  display: flex;
  justify-content: space-between;
}
.search_bar {
  width: 35%;
  border: 0.5px solid;
  border-radius: 5px;
  padding-left: 15px;
}
